<% include ../partials/boilerplate %>
<div id="nav-container">
    <ul>
      <li><a class="seeall-two" href="/shoes/">/HOME</a></li>
      <li><a class="seeall-two" href="/shoes/add">/ADD</a></li>
    </ul>
</div>
<div class="hero">
    <h1>SNKR</h1>
</div>

<div class="shoe-container">
    <% for (let shoe of data) { %>
        <div class="shoe">
            <!-- <img src='<% data.url %>'</img> -->
            <h2><%= shoe.model %></h2>
            <h3><%= shoe.description %></h3>
            <br>
            <h2>Size: <%= shoe.size %></h3>
            <div class="links">
                <a class="linkto" href="/shoes/<%= shoe.id %>">View</a>
                <form method="POST" action="/shoes/<%= shoe.id %>?_method=DELETE">
                    <input type="submit" value="Delete" />
                </form>
            </div>
        </div>
    <% } %>
</div>

<div class="linkback">
    <a class="seeall" href="/shoes/">VIEW ALL</a>
</div>

<div id="ftr-container">
    <ul>
      <li><a class="linkfront" href="/shoes/">2017 © SNKR.</a></li>
      <li style="font-size: 12px; font-weight: 400;">SNKR is a footwear database tool that keeps track of your favorite footwear. </li>
    </ul>
</div>
